<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>me.cok.gay</title>
<meta property="og:title" content="me.cok.gay"/>
<meta property="og:description" content="Identify yourself on web."/>
<meta property="og:type" content="website"/>
<meta property="og:image" content="https://raw.githubusercontent.com/cokdotgay/icons/main/webp/cokdotgay.webp"/>
<meta name="description" content="Identify yourself on web."/>
<meta name="robots" content="index, follow"/>
<meta name="keywords" content="gay,card,cok,cokgay,cokdotgay"/>
<meta name="author" content="https://github.com/orgs/cokdotgay/people"/>
<link rel="stylesheet" href="/static/styles/global.css"/>
<link rel="stylesheet" href="/static/styles/pages.css"/>
<link rel="shortcut icon" href="https://raw.githubusercontent.com/cokdotgay/icons/main/svg/cokdotgay.svg" type="image/svg+xml"/>