<!DOCTYPE html>
<html lang="en">
  <head>
    {% render "header" %}
    <script src="/static/sign-in.js" type="module" defer></script>
  </head>

  <body>
    <div id="app">
      <div class="box centered">
        <h1>Sign in</h1>
        <form action="/api/auth" method="post">
          <hr/>
          <input type="text" name="username" title="Only alphabet, numbers and underscores are allowed." minlength="2" maxlength="32" pattern="[A-Za-z0-9_-]+" placeholder="Username" required/>
          <input type="password" name="password" minlength="8" maxlength="72" placeholder="Password" required/>
          <hr/>
          <button type="submit">Sign in</button>
          <a href="/sign-up" class="button">Don't have one?</a>
        </form>
      </div>
    </div>
  </body>
</html>