<!DOCTYPE html>
<html lang="en">

<head>
  {% include "themes/components/header.html" %}
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap" rel="stylesheet" />
  <style>
    :root {
      {% match theme_options.get("backgroundColor") %}
      {% when Some with (color) %}
      --background-color: {{ color }};
      {% else %}
      --background-color: #f8f5f0;
      {% endmatch %}

      {% match theme_options.get("secondaryColor") %}
      {% when Some with (color) %}
      --secondary-color: {{ color }};
      {% else %}
      --secondary-color: #ffffff;
      {% endmatch %}

      {% match theme_options.get("thirdColor") %}
      {% when Some with (color) %}
      --third-color: {{ color }};
      {% else %}
      --third-color: #fff8f3;
      {% endmatch %}

      {% match theme_options.get("foregroundColor") %}
      {% when Some with (color) %}
      --foreground-color: {{ color }};
      {% else %}
      --foreground-color: #24201c;
      {% endmatch %}
    }

    html,
    body {
      background: var(--background-color);

      width: 100%;
      height: 100%;
      margin: 0;

      display: flex;
      align-items: center;
      justify-content: center;

      font-family: 'PT Serif', serif;

      text-align: center;
    }

    #box {
      background: var(--secondary-color);
      border: 10px solid var(--third-color);
      padding: 10px;
      border-radius: 20px;
      width: 512px;
    }

    #box #avatar {
      display: none;
      width: 128px;
      height: 128px;
      object-fit: cover;
      border-radius: 50%;
      border: 5px dashed #000000;
      margin: 20px;
    }

    #box h1 {
      color: var(--foreground-color);
      word-break: break-all;
      margin: 5px;
    }

    #box p {
      color: var(--foreground-color);
      word-break: break-all;
      white-space: pre-wrap;
      margin: 10px;
    }

    #box #flex {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }

    #box #flex a {
      width: 40%;
      margin: 5px;
      padding: 5px 10px 5px 10px;

      background: var(--third-color);
      border: 2px dashed var(--background-color);
      color: var(--foreground-color);

      text-decoration: none;
      border-radius: 20px;

      display: flex;
      align-items: center;
    }

    #box #flex img {
      width: 32px;
      height: 32px;
      object-fit: cover;
      margin: 5px;
      margin-right: 10px;
    }

    #box #flex a:hover {
      text-decoration: underline;
    }

    @media (max-width: 640px) {

      html,
      body {
        display: unset;
        margin: 0;
        background: var(--secondary-color);
      }

      #box {
        width: 100%;
        box-sizing: border-box;
        border: none;
        border-radius: 0px;
      }

      #box h1 {
        font-size: 24px;
      }

      #box p {
        font-size: 14px;
      }

      #box img {
        width: 96px;
        height: 96px;
      }

      #box #flex a {
        width: 100%;
      }
    }

  </style>
</head>

<body>
  <div id="box">
    <img id="avatar" src="" alt="avatar" />
    <h1>{{ username }}</h1>
    <p>{{ about }}</p>
    <div id="flex">
      {% for link in links %}
      <a href="{{ link.url }}">
        <img src="/static/icons/{{ link.display|lower }}.svg" alt="{{ link.title }}" />
        {{ link.title }}
      </a>
      {% endfor %}
    </div>
  </div>
  <script src="/static/lanyard.js"></script>
  <script>
    initializeLanyard('{{ lanyard_id }}', async (id, { discord_user, discord_status }) => {
      const styles = {
        online: '#30d158',
        offline: '#cccccc',
        idle: '#ffbd2f',
        dnd: '#ff3640',
      };

      const { username, discriminator, avatar } = discord_user;
      const format = avatar.startsWith('a_') ? 'gif' : 'webp';

      let avatarElement = document.getElementById('avatar');

      avatarElement.style.display = 'inline';
      avatarElement.src = `https://cdn.discordapp.com/avatars/${id}/${avatar}.${format}`;
      avatarElement.style.borderColor = styles[discord_status];
    });
  </script>
</body>

</html>
